<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="archetype" name="Archetype" schema="schema/archetype.exsd"/>
   <extension-point id="remoteRepository" name="remoteRepository" schema="schema/remoteRepository.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
               id="org.seasar.maven.archetypes.eclipse.plugin.project.NewProjectWizard"
               name="Maven Archetype Project"
               class="org.seasar.maven.archetypes.eclipse.plugin.project.NewProjectWizard"
               category="maven2.archetype"
               hasPages="true"
               project="true"
               icon="icons/newprj_wiz.gif">
         </wizard>
         <category id="maven2.archetype" name="Maven2 Archetype">
         </category>
   </extension>
   <extension
         point="org.seasar.maven.archetypes.eclipse.plugin.project.archetype">
         <archetype
               artifactId="maven-archetype-seasar-struts-mayaa"
               groupId="org.seasar.maven-archetypes"
               version="0.0.1"
               name="S2Struts+Mayaa">
         </archetype>
         <archetype
               artifactId="maven-archetype-seasar-struts2-mayaa"
               groupId="org.seasar.maven-archetypes"
               version="0.0.1"
               name="Struts2+Mayaa">
         </archetype>
   </extension>
   <extension
         point="org.seasar.maven.archetypes.eclipse.plugin.project.remoteRepository">
      <remoteRepository
            uri="http://maven.seasar.org/maven2/">
      </remoteRepository>
      <remoteRepository
            uri="https://www.seasar.org/maven/maven2-snapshot">
      </remoteRepository>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="true"
			id="org.seasar.maven.archetypes.eclipse.plugin.project.objectContribution"
			objectClass="org.eclipse.core.resources.IProject">
			<action
				class="org.seasar.maven.archetypes.eclipse.plugin.project.ProjectRefreshAction"
				enablesFor="1" id="org.seasar.maven.archetypes.eclipse.plugin.project.ProjectRefreshAction"
				label="Mavenでプロジェクトをリフレッシュ" />
		</objectContribution>
   </extension>
</plugin>
